@model WebBlob.Models.IndexModel
@{
    ViewBag.Title = "Index";
}

<div class="alert-info">
    <h1 style="text-align:center">Login</h1>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <label for="lblUser">User:</label>


            @Html.TextBoxFor(m => m.strUser, new { @class = "form-control", @maxlength = "150" })

        </div>
        <div class="col-md-4">
            <label for="lblPw">Password:</label>


            @Html.TextBoxFor(m => m.strSenha, new { @class = "form-control", @maxlength = "150" })

        </div>
        <div class="col-md-4">
            <input id="btnSumit" type="submit" value="Enter" class="btn-success" />
            <input id="btnClean" type="reset" value="Clean" class="btn-primary" />

        </div>
      



    </div>  }